body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: block;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.hide {
    display: none;
}

#header {
    height: 70px;
    text-align: center;
}
.main {
    display: flex;
    justify-content: left;
}
.leftColumn {
    min-width: 200px;
}

#loginBox, #registerBox {
    padding-bottom: 20px;
}

.product {
    flex-basis: 33%;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#centerColumn {
    width: 600px;
    padding-left: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product-menu {
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}
.subcategory{
    flex-basis: 100%;
}

#footer {
    clear: both;
}

.menuCaption {
    padding: 3px;
    font-weight: bold;
}

.cartBox {
    padding: 5px 0 5px 0;
}
.title {
    min-width: 100%;
    font-size: 24px;
    font-weight: bold;
    height: 50px;
}

#userBox{
    margin: 5px;
}